name: CI/CD Pipeline - Frontend


on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2
        
      - name: Mover al directorio de código
        run: cd codeSource

      - name: Ejecutar script de construcción
        run: |
          chmod +x .github/scripts/build.sh
          ./.github/scripts/build.sh

      - name: Save Build Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build-artifacts
          path: codeSource/out

  deploy-tf:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout IaC code
        uses: actions/checkout@v2
        with:
          path: IaC

      - name: Download Build Artifacts
        uses: actions/download-artifact@v2
        with:
          name: build-artifacts
          path: ../codeSource/out

      - name: Configure AWS credentials
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          echo "AWS credentials configured"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Initialize Terraform
        working-directory: IaC
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: terraform init

      - name: Apply Terraform
        working-directory: IaC
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: terraform apply -auto-approve
  
